*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1vw;
    background-color: #156064ff;
    color: white;
    font-size: calc(6px + 1.1vw);
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2e282aff;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding: .5vh .5vw;
}

nav ul li{
    font-size: calc(4px + 1vw);
    width: 90%;
    background-color: #156064ff;
    padding: .35% 0.5%;
    margin: .1% 0.5%;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 90%;
    background-color: white;
}

main h3{
    font-size: calc(8px + 2vw);
    margin: 1vh 1vw;
    text-align: center;
}

main h4{
    font-size: calc(12px + 1vw);
    margin: 1vh 1vw;
}

main p{
    margin: 1vh 1vw;
    font-size: calc(10px + .5vw);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vh 1vw;
    background-color: white;
    position: relative;
    bottom: 0;
}

a{
    color: #156064ff
}

@media screen and (max-width: 975px){

    nav ul li a{
        text-decoration: none;
    }

    main{
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    main p{
        margin: 2% 2%;
        font-size: calc(3px + 2vw);
    }

    main h3{
        font-size: calc(8px + 3vw);
        margin: 1vh 1vw;
        text-align: center;
    }

    main h4{
        font-size: calc(10px + 2vw);
        margin: 1vh 1vw;
    }

    main h5{
        font-size: calc(4px + 2vw);
        margin: 1vh 1vw;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2e282aff;
        font-size: calc(2px + 2vw);
        text-align: center;
        list-style: none;
        padding: 1vh 1vw;
    }

    nav ul li{
        font-size: calc(6px + 2.25vw);
        width: 90%;
        background-color: #156064ff;
        padding: 1% .5%;
        margin: .25% 0.5%;
        text-align: center;

    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    header{
        font-size: calc(8px + 2.5vw);
        align-items: center;
    }

    footer{
        padding: 2vh 1vw;
    }
}

@media screen and (max-width: 400px){

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2e282aff;
        font-size: calc(2px + 2vw);
        text-align: center;
        list-style: none;
        padding: 1vh 1vw;
    }

    nav ul li{
        font-size: calc(6px + 2.5vw);
        width: 90%;
        background-color: #156064ff;
        padding: 3% .5%;
        margin: .1% 0.5%;
        text-align: center;

    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    header{
        font-size: calc(8px + 4vw);
        align-items: center;
    }
}