*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1vw;
    background-color: #156064ff;
    color: white;
    font-size: calc(6px + 1.1vw);
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2e282aff;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding: .5vh .5vw;
}

nav ul li{
    font-size: calc(4px + 1vw);
    width: 90%;
    background-color: #156064ff;
    padding: .35% 0.5%;
    margin: .1% 0.5%;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 90%;
    background-color: white;
}

#columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column{
    display: block;
    width: 50%;
    margin-left: 5vw;
}

input{
    margin-left: .5vw;
}

label{
    margin: 1vh .5vw;
}

button{
    background-color: #156064ff;
    color: white;
    width: 30%;
    min-width: 130px;
    padding: .5vh .5vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
}

button:hover{
    background-color: cadetblue;
    color: #156064ff;
}

#char-output{
    min-height: 210px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.multi-column{
    column-count: 5;
    column-gap: 20px;
}

#country-output{
    min-height: 210px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

main h3{
    font-size: calc(8px + 2vw);
    margin: 1vh 1vw;
    text-align: center;
}

main h4{
    font-size: calc(12px + 1vw);
    margin: 1vh 1vw;
}

main p{
    margin: 1vh 1vw;
    font-size: calc(10px + .5vw);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vh 1vw;
    background-color: white;
    position: relative;
    bottom: 0;
}

footer a{
    color: #156064ff
}

@media screen and (max-width: 975px){

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2e282aff;
        list-style: none;
        padding: 0;
    }

    nav ul li{
        font-size: calc(2px + 1.5vw);
        padding: 1% 0.5%;
        margin: 1% 0.5%;
    }

    nav ul li a{
        text-decoration: none;
    }

    main{
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    main p{
        margin: 2% 2%;
        font-size: calc(3px + 2vw);
    }

    main h3{
        font-size: calc(8px + 3vw);
        margin: 1vh 1vw;
        text-align: center;
    }

    main h4{
        font-size: calc(10px + 2vw);
        margin: 1vh 1vw;
    }

    main h5{
        font-size: calc(4px + 2vw);
        margin: 1vh 1vw;
    }

    #char-output{
        font-size: calc(6px + 1vw);
        min-height: 175px;
        max-height: 635px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        font-family: Arial, sans-serif;
    }

    button{
        display: block;
        width: 60%;
        font-size: calc(6px + 1.5vw);
        padding: 1% 0.75%;
        margin: 1.0% auto;
    }

    .multi-column{
        column-count: 3;
        column-gap: 10px;
    }

    #columns{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #columns2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .column{
        display: block;
        width: 50%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2e282aff;
        font-size: calc(2px + 2vw);
        text-align: center;
        list-style: none;
        padding: 1vh 1vw;
    }

    nav ul li{
        font-size: calc(6px + 2.25vw);
        width: 90%;
        background-color: #156064ff;
        padding: 1% .5%;
        margin: .25% 0.5%;
        text-align: center;

    }

    label{
        font-size: calc(6px + 1.5vw);
        margin: 1vh 1.5vw;
    }

    input{
        margin-left: 2vw;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    header{
        font-size: calc(8px + 2.5vw);
        align-items: center;
    }

    footer{
        padding: 2vh 1vw;
    }
}

@media screen and (max-width: 400px){
    .multi-column{
        column-count: 2;
        column-gap: 5px;
    }

    #char-output{
        font-size: calc(6px + 1.45vw);
        min-height: 145px;
        max-height: 700px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        font-family: Arial, sans-serif;
    }

    button{
        display: block;
        width: 70%;
        font-size: calc(6px + 2vw);
        padding: 1.5% 0.5%;
        margin: 1.5% auto;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2e282aff;
        font-size: calc(2px + 2vw);
        text-align: center;
        list-style: none;
        padding: 1vh 1vw;
    }

    nav ul li{
        font-size: calc(6px + 2.5vw);
        width: 90%;
        background-color: #156064ff;
        padding: 3% .5%;
        margin: .1% 0.5%;
        text-align: center;

    }

    label{
        font-size: calc(6px + 2.5vw);
        margin: 1vh 1.5vw;
    }

    input{
        margin-left: 5vw;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    header{
        font-size: calc(8px + 4vw);
        align-items: center;
    }
}